<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qtht.mychart">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity android:name=".AnalysisActivity"
            android:label="Analysis">
        </activity>

        <activity android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SelectChartActivity"
            android:label="@string/SelectChart"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">

        </activity>
        
        <activity android:name=".ChartThongTinSoLuongTheoThangActivity"
            android:label="@string/bieudo"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".SelectChartActivity">
        </activity>

        <activity android:name=".ChartThongTinTheoThangActivity"
            android:label="@string/bieudo"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".SelectChartActivity">
        </activity>

        <activity android:name=".ChartThongTinTongHopChiPhiHuyenActivity"
            android:label="@string/bieudo"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".SelectChartActivity">
        </activity>

        <activity android:name=".ChartThongTinTongHopSoLuongHuyenActivity"
            android:label="@string/bieudo"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".SelectChartActivity">

        </activity>
        <activity android:name=".SelectReportActivity"
            android:label="@string/SelectReport"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity android:name=".ReportActivity"
            android:label="@string/baocaoBHYT"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".SelectReportActivity">
        </activity>

        <activity android:name=".DetailReport19Activity"
            android:label="@string/ContentReport"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ReportActivity">
        </activity>
        <activity android:name=".DetailReport20Activity"
            android:label="@string/ContentReport"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ReportActivity">
        </activity>
        <activity android:name=".DetailReport21Activity"
            android:label="@string/ContentReport"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ReportActivity">
        </activity>
        <activity android:name=".DetailReport79Activity"
            android:label="@string/ContentReport"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ReportActivity">
        </activity>
        <activity android:name=".DetailReport79GeneralActivity"
            android:label="@string/ContentReport"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ReportActivity">
        </activity>
        <activity android:name=".DetailReport80Activity"
            android:label="@string/ContentReport"

            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ReportActivity">
        </activity>
        <activity android:name=".DetailReport80GeneralActivity"
            android:label="@string/ContentReport"

            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ReportActivity">
        </activity>

        <activity android:name=".NoiTruActivity"
            android:label="Xoay"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>